
<div>
    <button class="btn btn-primary" (click)="addCompany()">Add Company</button>
  </div>
<table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let org of orgs">
        <td>{{ org.orgId }}</td>
        <td>{{ org.orgName }}</td>
        <td>
          <button class="btn btn-info" (click)="viewDetails(org.orgId)">Details</button>
  
          <button class="btn btn-warning" (click)="updateCompany(org.orgId)">Update</button>
  
          <button class="btn btn-danger" (click)="deleteCompany(org.orgId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>