th,td {
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    font-size: 25px;
}
p{
    text-align: center;
    font-size: 45px;
    font-weight:400;
    color: rgb(15, 15, 15);
}
#btnbuy{
    margin-left: 48%;
}